{extend name="layout/layout"}
{block name="title"}产品分类{/block}
{block name="main"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品分类 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<span style="color: red;">点击分类名称可立即删除</span>
<table class="table">
	<tr>
		<td width="200" class="va-t"><ul id="treeDemo" class="ztree"></ul></td>
		<td class="va-t"><iframe ID="testIframe" Name="testIframe" FRAMEBORDER=0 SCROLLING=AUTO width=100%  height=390px SRC="{:Url('addCategory')}"></iframe></td>
	</tr>
</table>
{/block}
{block name="script"}
<!--请在下方写此页面业务相关的脚本-->
<link rel="stylesheet" href="/static/admin/lib/zTree/v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="/static/admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript">
    var setting = {
        view: {
            dblClickExpand: false,
            showLine: false,
            selectedMulti: false
        },
        data: {
            simpleData: {
                enable:true,
                idKey: "id",
                pIdKey: "pid",
                rootPId: ""
            }
        },
        callback: {
            beforeClick: function(treeId, treeNode) {
                console.log(treeNode.id);
             /*  *  var zTree = $.fn.zTree.getZTreeObj("tree");
                 if (treeNode.isParent) {
                     zTree.expandNode(treeNode);
                     return false;
                 } else {
                     demoIframe.attr("src",treeNode.file + ".html");
                     return true;
                 }*/
              $.ajax({
				  url:"{:Url('Goods/CateDel')}",
				  type:'post',
				  data:{id:treeNode.id},
				  dataType:'json',
				  success:function (data) {
                     if(data == 1){
                         layer.msg('删除成功！',{
                             icon:1,
							 btn:'确定',
                             btn1: function () {
                                 location.href = "{:Url('Goods/Category')}";
                             }
						 });
					 }else if(data == 2){
                         layer.alert('删除失败',{icon:5});
					 }else{
					     layer.msg(data);
					  }
                  }
			  })
            }
        }
    };
    var zNodes;
    $.ajax({
		url:"{:Url('Goods/getCategory')}",
		type:'get',
		dataType:'json',
		async:false,
		success:function (data) {
           zNodes = data;
          // console.log(zNodes);
        }
	});
    var code;

    function showCode(str) {
        if (!code) code = $("#code");
        code.empty();
        code.append("<li>"+str+"</li>");
    }

    $(document).ready(function(){
        var t = $("#treeDemo");
        t = $.fn.zTree.init(t, setting, zNodes);
        demoIframe = $("#testIframe");
        //demoIframe.on("load", loadReady);
        var zTree = $.fn.zTree.getZTreeObj("tree");
       // zTree.selectNode(zTree.getNodeByParam("id",'11'));
    });
</script>
{/block}
