{extend name="layout/layout"}
{block name="title"}添加产品{/block}
{block name="main"}
<div class="page-container">
	<form action="{:Url('addGoods')}" method="post" class="form form-horizontal" id="form-article-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>产品标题：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="产品标题" id="goodsName" name="goodsname">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类栏目：</label>
			<div class="formControls col-xs-8 col-sm-9"> <span class="select-box">
				<select name="tid" id="tid" class="select">
                    {foreach($cate as $item)}
					<option value="{$item.id.','.$item.pid}">{$item.level}级分类&nbsp{$item.name}</option>
					{/foreach}
				</select>
				</span> </div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品属性：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<input type="radio" id="checkbox-1" name="attributes" value="1" checked>
					<label for="checkbox-1">1、推荐</label>
				</div>
				<div class="check-box">
					<input type="radio" id="checkbox-2" name="attributes" value="2">
					<label for="checkbox-2">2、新上</label>
				</div>
				<div class="check-box">
					<input type="radio" id="checkbox-3" name="attributes" value="3">
					<label for="checkbox-3">3、热卖</label>
				</div>
				<div class="check-box">
					<input type="radio" id="checkbox-4" name="attributes" value="4">
					<label for="checkbox-4">4、促销 </label>
				</div>
				<div class="check-box">
					<input type="radio" id="checkbox-5" name="attributes" value="5">
					<label for="checkbox-5">5、包邮</label>
				</div>
				<div class="check-box">
					<input type="radio" id="checkbox-6" name="attributes" value="6">
					<label for="checkbox-6">6、限时卖</label>
				</div>
				<div class="check-box">
					<input type="radio" id="checkbox-7" name="attributes" value="7">
					<label for="checkbox-7">7、不参与会员折扣</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品编号：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="number" id="number" placeholder="商品编号" value="" class="input-text"></div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">条形码：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="barcode" id="barcode" placeholder="条形码" value="" class="input-text"></div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品的单位：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="unit" id="unit" placeholder="商品的单位" value="" class="input-text">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">现价：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="curprice" id="curPrice" placeholder="现价" value="" class="input-text" style="width:90%">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">市场价格：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="oriprice" id="oriPrice" placeholder="市场价格" value="" class="input-text" style="width:90%">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">成本价格：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="cosprice" id="cosPrice" placeholder="成本价格" value="" class="input-text" style="width:90%">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">库存量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="inventory" id="inventory" placeholder="库存量" value="" class="input-text">
				</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">已经购买量：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="already" id="already" placeholder="已经购买量" value="" class="input-text">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">运费：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="freight" id="freight" placeholder="运费" value="" class="input-text" style="width:90%">
				元</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">是否上架：</label>
			<div class="formControls col-xs-8 col-sm-9 skin-minimal">
				<div class="check-box">
					<input type="radio" id="checkbox-8" name="status" value="0" checked>
					<label for="checkbox-8">上架</label>
				</div>
				<div class="check-box">
					<input type="radio" id="checkbox-9" name="status" value="1">
					<label for="checkbox-9">下架</label>
				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">商品排序：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" name="reorder" id="reorder" placeholder="商品排序" value="" class="input-text">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">图片上传：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div id="formimageshow" class="formControls col-xs-2 col-sm-2" >
					<button  id="buttonShow" type="button" class="btn btn-success"  onclick="upliadfileshow();return false;" >上传轮播图片</button><br />
					<br />
					<label for="checkbox-1">最多支持4张轮播图</label>

				</div>
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">详细内容：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="text" id="text" cols="30" rows="10"></textarea>
				<!--<script id="editor" type="text/plain" style="width:100%;height:400px;"></script>-->
                </div>
                </div>
                <div class="row cl">
                    <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <button onClick="article_save_submit();" class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
                <button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
                </div>
                </div>
		<!-- 图片上传 -->
		<div id="modal-webuploader" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: none;">


			<div class="modal-dialog" style="width:660px;" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button"  id="close" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<ul class="nav nav-pills" role="tablist">
							<li id="li_upload" class="active" role="presentation"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab" onclick="$('#select').hide();" >上传图片</a></li>

						</ul>
					</div>

				<div class="modal-body tab-content">
					<div role="tabpanel" class="tab-pane network" id="network">

					</div>

				<div role="tabpanel" class="tab-pane upload active" id="upload">
					<div id="uploader" class="uploader">
						<form enctype="multipart/form-data">
							<input id="file-0" class="file" name="image[]" type="file" multiple data-min-file-count="1">
							<br>

						</form>
					</div>
				</div>
				</div>

			</div>
			</div>
		</div>
		<!-- 图片上传 -->
                </form>
                </div>
{/block}
{block name="script"}
<!--请在下方写此页面业务相关的脚本-->
<!--<link href="/static/admin/lib/webuploader/0.1.5/webuploader.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/admin/lib/webuploader/0.1.5/webuploader.min.js"></script>-->
<!--上传插件-->

<link href="/static/admin/fileinput/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<!--<script src="jquery/2.1.1/jquery.min.js"></script>-->
<script src="/static/admin/fileinput/fileinput.min.js"></script>
<script src="/static/admin/fileinput/fileinput_locale_zh.js" type="text/javascript"></script>



<script type="text/javascript" src="/static/admin/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/static/admin/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/static/admin/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
//验证方法
        function initFormCheck() {
            $(".form-horizontal").validate({
                rules: {
                    goodsname: {
                        required: true,//必填
                        maxlength: 64
                    },
                    number: {
                        required: true //必填
                    },
                    barcode: {
                        required: true //必填
                    },
                    unit: {
                        required: true //必填
                    },
                    curprice: {
                        required: true //必填
                    },
                    oriprice: {
                        required: true //必填
                    },
                    cosprice: {
                        required: true //必填
                    },
                    inventory: {
                        required: true //必填
                    },
                    already: {
                        required: true //必填
                    },
                    freight: {
                        required: true //必填
                    }
                },
                messages: {
                    goodsname: {
                        required: "不能为空",
                        maxlength: "长度不能超过64"
                    },
                    number: {
                        required: "不能为空"
                    },
                    unit: {
                        required: "不能为空"
                    },
                    curprice: {
                        required: "不能为空"
                    },
                    oriprice: {
                        required: "不能为空"
                    },
                    cosprice: {
                        required: "不能为空"
                    },
                    inventory: {
                        required: "不能为空"
                    },
                    already: {
                        required: "不能为空"
                    },
                    freight: {
                        required: "不能为空"
                    }
                },
                errorElement: "em",
                errorPlacement: function (error, element) {
                    // Add the `help-block` class to the error element
                    error.addClass("help-block");
                    if (element.prop("type") === "checkbox") {
                        error.insertAfter(element.parent("label"));
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        }
// 图片上传
function upliadfileshow(){
   // $("#modal-webuploader").fadeIn();
    $("#modal-webuploader").fadeIn('slow');

}

$("#close").click(function(){
    //$("#modal-webuploader").fadeIn();
    $("#modal-webuploader").fadeOut('slow');
})
function deleteImage(id){
    $.ajax({
        url:'{:Url("Good/product_del_images")}',
        type:'get',
        data:{id:id},
        dataType:'json',
        success:function(data){
            if(data==1){
                $('#imageDelete'+id).remove();
                var imagepath=$('input[class=imagepath]');
                if(imagepath.length<4){

                    $('#buttonShow').removeAttr("disabled");
                }else{

                }
            }else{
                alert('删除失败');
            }
        }

    })

}

//图片上传
initFileInput("file-0", "{:Url('upload')}");
//初始化fileinput控件（第一次初始化）
function initFileInput(ctrlName, uploadUrl) {
    var control = $('#' + ctrlName);
    control.fileinput({
        language: 'zh', //设置语言
        uploadUrl: uploadUrl, //上传的地址
        allowedFileExtensions : ['jpg', 'png','gif','jpeg'],//接收的文件后缀
        showUpload: true, //是否显示上传按钮
        showCaption: true,//是否显示标题
        showPreview:true,//是否显示文件的预览图。默认值true。
        showRemove:true,//是否显示删除/清空按钮。默认值true。
        browseClass: "btn btn-primary", //按钮样式
        previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
        maxFileCount: 4,//表示允许同时上传的最大文件个数
        dropZoneEnabled:true,//是否显示拖拽区域

        initialPreviewConfig: {
            caption: ctrlName,
            width: '120px',
            url: uploadUrl,
            key: 101,
            success: function () {

            }
        }

    });
}
$("#file-0").on("fileuploaded", function (event, data, previewId, index) {

    var obj = eval('(' + data.response + ')');
    console.log(obj);

    //alert(obj.id);
   /* var div=$('<div class="input-group " id="imageDelete'+data.response['id']+'" style="margin-top:.5em;margin-right:2em; float:left;"><input type="hidden" name="imagepath[]" class="imagepath" value="'+data.response['id']+'"/><img src="'+data.response['imagepath']+'"; class="img-responsive img-thumbnail" width="150"><a class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage('+data.response['id']+')">×</a></div>');*/
    var div=$('<div class="input-group " id="imageDelete'+obj.id+'" style="margin-top:.5em;margin-right:2em; float:left;"><input type="hidden" name="imagepath[]" class="imagepath" value="'+obj.id+'"/><img src="'+obj.imagepath+'"; class="img-responsive img-thumbnail" width="150"><a class="close" style="position:absolute; top: 0px; right: -14px;" title="删除这张图片" onclick="deleteImage('+obj.id+')">×</a></div>');
    $('#formimageshow').after(div);
    var imagepath=$('input[class=imagepath]');
    if(imagepath.length>=4){

        $('#buttonShow').attr("disabled","disabled");//禁用上传按钮
        $("#modal-webuploader").fadeIn();//关闭上传
        $("#modal-webuploader").fadeOut('slow');
    }else{

    }



});

    $(function(){
        var ue = UE.getEditor('text',{
            initialFrameHeight:400,
            initialFrameWidth: '100%'
        });
        initFormCheck();
        //单选框选中状态
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
    });
</script>
</body>
{/block}